<div class="landing-container">
    <div class="landing-left">
        <h1>SKIN</h1>
        <h2>SCIENCE</h2>
        <p>
             Invest in your skin. It is going to represent you for a very long time.
        </p>
        <div class="landing-btn">
            <a routerLink="/scan" class="btn">
                <img src="../../../assets/face-scan.png" alt="scan">
                Scan
            </a>
            <a href="" class="btn" routerLink="/feedback">
                <img src="../../../assets/feedback.png" alt="feedback">
                Feedback
            </a>
        </div>
    </div>
    <div class="landing-right">
        <img src="../../../assets/landing_side_img.svg" alt="image">
    </div>
</div>
