<div class="profile-container">
    <div class="profile-details-container">
        <div class="profile-img">
            <img src="../../../assets/user.jpg" alt="profile">
        </div>
        <div class="profile-details-left">
            <p><span>Name: </span> Abhishek Gupta <img src="../../../assets/mars.png" alt=""></p>
            <p><span>Email: </span> abhishek.gupta14@globallogic.com</p>
            <p><span>Mobile: </span> + 9999 999 999</p>
        </div>
        <div class="profile-details-right">
            <p><span>Scan count: </span>19</p>
            <p><span>Products purched: </span>51</p>
            <p><span>Recovery rate: </span>50%</p>
        </div>
    </div>
    <div class="scan-list-container">
        <div class="scan-details-container">
            <div class="scan-img">
                <img src="../../../assets/user.jpg" alt="scanned image">
            </div>
            <div class="scan-details">
                <p><span>Scan Date: </span> 10/10/2020</p>
                <p><span>Scan Time: </span> 02:00 pm</p>
            </div>
            <div class="scan-detail-btn">
                <a routerLink="/" class="btn">
                    See Full Report
                </a>
            </div>
        </div>
        <div class="scan-details-container">
            <div class="scan-img">
                <img src="../../../assets/user.jpg" alt="scanned image">
            </div>
            <div class="scan-details">
                <p><span>Scan Date: </span> 10/10/2020</p>
                <p><span>Scan Time: </span> 02:00 pm</p>
            </div>
            <div class="scan-detail-btn">
                <a routerLink="/" class="btn">
                    See Full Report
                </a>
            </div>
        </div>
        <div class="scan-details-container">
            <div class="scan-img">
                <img src="../../../assets/user.jpg" alt="scanned image">
            </div>
            <div class="scan-details">
                <p><span>Scan Date: </span> 10/10/2020</p>
                <p><span>Scan Time: </span> 02:00 pm</p>
            </div>
            <div class="scan-detail-btn">
                <a routerLink="/" class="btn">
                    See Full Report
                </a>
            </div>
        </div>
        <div class="scan-details-container">
            <div class="scan-img">
                <img src="../../../assets/user.jpg" alt="scanned image">
            </div>
            <div class="scan-details">
                <p><span>Scan Date: </span> 10/10/2020</p>
                <p><span>Scan Time: </span> 02:00 pm</p>
            </div>
            <div class="scan-detail-btn">
                <a routerLink="/" class="btn">
                    See Full Report
                </a>
            </div>
        </div>
    </div>
</div>