<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="nav-div">
    <a routerLink="/" class="logo" >
      <img
        width="100"
        alt="Skin Science"
        src="../../../assets/logo.svg"
      />
      </a>
        <div class="spacer"></div>
        <nav>
          <ul>
            <li><a routerLink="/scan" routerLinkActive="active" ariaCurrentWhenActive="page">Scan</a></li>
            <li><a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a></li>
            <li><a routerLink="/food-diet" routerLinkActive="active" ariaCurrentWhenActive="page">Food Diet</a></li>
            <li><a routerLink="/organic-tips" routerLinkActive="active" ariaCurrentWhenActive="page">Organic Remedies</a></li>
            <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
              <img src="../../../assets/profile.png" alt="profile">
            </a></li>
          </ul>
        </nav>
  </div>
  </div>