.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    .nav-div {
      display: flex;
    align-items: center;
    width: 90%;
    }
  }

  .toolbar .logo {
    display: flex;
    align-items: center;
    font-size: x-large;
  }


  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }
  
  .spacer {
    flex: 1;
  }


  nav ul {
    display: flex;
    align-items: center;
    gap: 20px;

    li a{
      color: #000;

      img{ width: 50px;}
    }


  }