<div class="scan-page">
  <div class="camera">
    <div class="camera-screen-wrapper">
      <div class="camera-screen scan" [class.scan]="scanning === true">
        <video [class.hidden]="scanning" class="video" #video autoplay></video>
        <canvas [class.hidden]="!scanning" class="canvas" #canvas></canvas>
      </div>
    </div>
    <div class="camera-btn-container">
      <button class="capture-btn" [class.reset]="scanning" (click)="takeImage()"></button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="upload-section">
    <div class="upload"><img src="../../../../assets/upload.svg" /></div>
    <div class="submit-btn-container">
      <button class="submit-btn">Submit</button>
    </div>
  </div>
</div>
