<ng-container *ngIf="!showReport else reportView">
  <div class="scan-page">
    <div class="camera" >
      <div class="camera-screen-wrapper">
        <div class="camera-screen scan" [class.scan]="scanning === true">
          <video [class.hidden]="imageCaptured" class="video" #video autoplay></video>
          <canvas [class.hidden]="!imageCaptured" class="canvas" #canvas></canvas>
          <img *ngIf="uploadedImage" class="image" [src]="uploadedImage"/>
        </div>
      </div>
      <div class="camera-btn-container">
        <button class="capture-btn" [class.reset]="imageCaptured" (click)="takeImage();imageInput.value=''"></button>
      </div>
    </div>
    <div class="divider">&nbsp;</div>
    <div class="upload-section">
      <input #imageInput
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)" style="display: none;" >
      <div class="upload"><img class="upload-img" (click)="imageInput.click()" src="../../../../assets/upload.svg" /></div>
      <div class="submit-btn-container">
        <a class="btn submit-btn" (click)="uploadImage()">Submit</a>
      </div>
    </div>
  </div>  
</ng-container>

<ng-template #reportView>
  <section class="report-title">
    <div class="label">Face Analysis Report</div>
  </section>
  <div class="report-container">
      <section class="report-data">
        <div class="report-issues">
          <div class="issues-title">
            <div class="label">Issues</div>
          </div>
          <div class="issues-tagline">
            <span>Following issues are founds on your skin.</span>
          </div>
          <div class="issues-list">
            <div class="issues-img">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/acnes.png" alt="acnes">
              <span>Acne</span>
            </div>
            <div class="issues-img">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/acnes.png" alt="acnes">
              <span>Acne</span>
            </div>
            <div class="issues-img">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/acnes.png" alt="acnes">
              <span>Acne</span>
            </div>
            <div class="issues-img">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/acnes.png" alt="acnes">
              <span>Acne</span>
            </div>
            <div class="issues-img">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/acnes.png" alt="acnes">
              <span>Acne</span>
            </div>
            <div class="issues-img">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/acnes.png" alt="acnes">
              <span>Acne</span>
            </div>
          </div>
        </div>
        <div class="report-image">
          <img [src]="imageData" alt="scanned_image">
        </div>
        <div class="report-issues">
          <div class="issues-title">
            <div class="label">Treatment</div>
          </div>
          <div class="issues-tagline">
            <span>You can follow below treatments and make <br> your skin glow. Click to know each in details.</span>
          </div>
          <div class="issues-list">
            <a class="issues-img" href="/scan#product">
              <img src="../../../assets/products.png" alt="product">
              <span>Products</span>
            </a>
            <a class="issues-img"  href="/scan#foodDiet">
              <img src="../../../assets/food.png" alt="food">
              <span>Food Diet</span>
            </a>
            <a class="issues-img" href="/scan#organicTips">
              <img src="../../../assets/organic.png" alt="organic">
              <span>Organic Tips</span>
            </a>
            <a class="issues-img" href="/scan#medicines">
              <img src="../../../assets/medi.png" alt="Medicines">
              <span>Medicines</span>
            </a>
            <a class="issues-img" href="/scan#facial">
              <img src="../../../assets/facial.png" alt="facial">
              <span>Facial Mask</span>
            </a>
            <a class="issues-img" href="/scan#cleansing">
              <img src="../../../assets/cleansing.png" alt="Cleansing">
              <span>Cleansing</span>
            </a>
          </div>
        </div>
      </section>
      <section class="treatement-details">
        <!-- Product-->
        <app-products [showLabel]="true" id="product"></app-products>
        <app-food-diet [showLabel]="true" id="foodDiet"></app-food-diet>
        <app-organic-tips [showLabel]="true" id="organicTips"></app-organic-tips>
        <!-- Medicines-->
        <app-products [showLabel]="true" [title]="'Medicines'" id="medicines"></app-products>
        <section class="facial-mask" id="facial">
          <div class="label">Facial Mask</div>
          <div class="facial-mask-container">
            <div class="facial-mask-left">
              <div class="benefits">
                <p><span>Benefits: </span>Skin Nourishing, Moisture Absorbent, Skin Rejuvenating, Skin Lightening,
                  Skin Brightening, Skin Whitening, Skin Purifying, Skin Soothing.</p>
              </div>
              <div class="tips">
                <div class="benefits">
                  <p><span>Tips: </span>Create a relaxing atmosphere, Cleanse your skin well, Steam your skin,
                    Exfoliate to smooth and brighten, Massage in a mask, etc.</p>
                </div>
              </div>
            </div>
            <div class="facial-mask-right">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/cleansing.png" alt="">
            </div>  
          </div>
        </section>
        <section class="facial-mask" id="cleansing">
          <div class="label">Cleansing</div>
          <div class="facial-mask-container">
            <div class="facial-mask-left">
              <div class="benefits">
                <p><span>Benefits: </span>Clear up any build up for healthier and smoother skin,  Keep your
                  skin hydrated, soft, supple, and youthful-looking, etc.</p>
              </div>
              <div class="tips">
                <div class="benefits">
                  <p><span>Tips: </span>Use a gentle, non-abrasive cleanser that does not contain alcohol,
                    Wet your face with lukewarm water and use your fingertips to apply cleanser.</p>
                </div>
              </div>
            </div>
            <div class="facial-mask-right">
              <img src="https://raw.githubusercontent.com/Abhishek0402/Recipe_App/master/facial.png" alt="">
            </div>  
          </div>
        </section>
      </section>
  </div>
</ng-template>